body {
  padding-top: 70px;
  padding-bottom: 20px;
}

img.logo {
  float: left;
  margin: 10px 5px 0;
  vertical-align: text-middle;
}

span.signout {
  color: #9d9d9d;
  cursor: pointer;
  display: block;
  line-height: 20px;
  padding: 15px;
  position: relative;
}

.active span.page {
  color: #fff;
  cursor: default;
  display: block;
  line-height: 20px;
  padding: 15px;
  position: relative;
}

.site-header {
  margin: 20px auto;
}

.slogan {
  color: #0c3d1b;
  font-size: 1.6rem;
  font-style: italic;
  line-height: 3.2rem;
}

h1 {
  color: #5cb85c;
  font-size: 2.4rem;
}

h2 {
  color: #472181;
  font-size: 1.6rem;
  text-transform: uppercase;
}

caption {
  font-size: 32px;
  line-height: 48px;
}

caption img {
  vertical-align: text-top;
}

form.delete-button,
form.delete-button input {
  display: inline;
}

th.note-title,
th.note-controls {
  width: 18.4rem;
}

.siblings a:hover,
.siblings a:active,
.siblings a:focus {
  text-decoration: none;
}
