          <%= partial :note_links %>
          <form class="navbar-form navbar-right" method="post" action="/session">
            <input type="hidden" name="_method" value="delete">
            <button type="submit" class="btn btn-warning">Sign out</button>
          </form>
